Package: dev.lsx.ytnoads
Name: YTNoAds
Version: 1.1.0
Architecture: iphoneos-arm
Description: Ad-free YouTube with SponsorBlock
Maintainer: lsx
Author: lsx
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)
